<p><%=I18n.t 'hello'%> <%= @resource.email %>!</p>

<p><%=I18n.t 'your_unlock'%>.</p>

<p><%=I18n.t 'click_unlock'%>:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
