<%= form_for(cadastro) do |f| %>
  <% if cadastro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro.errors.count, "error") %> prohibited this cadastro from being saved:</h2>

      <ul>
      <% cadastro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :rg %>
    <%= f.text_field :rg %>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :data_nascimento %>
    <%= f.date_select :data_nascimento %>
  </div>

  <div class="field">
    <%= f.label :rua %>
    <%= f.text_field :rua %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="field">
    <%= f.label :complemento %>
    <%= f.text_field :complemento %>
  </div>

  <div class="field">
    <%= f.label :bairro %>
    <%= f.text_field :bairro %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :celular %>
    <%= f.text_field :celular %>
  </div>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.text_field :usuario_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
