<p id="notice"><%= notice %></p>

<h1>Cadastros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Data nascimento</th>
      <th>Rua</th>
      <th>Numero</th>
      <th>Complemento</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastros.each do |cadastro| %>
      <tr>
        <td><%= cadastro.nome %></td>
        <td><%= cadastro.rg %></td>
        <td><%= cadastro.cpf %></td>
        <td><%= cadastro.data_nascimento %></td>
        <td><%= cadastro.rua %></td>
        <td><%= cadastro.numero %></td>
        <td><%= cadastro.complemento %></td>
        <td><%= cadastro.bairro %></td>
        <td><%= cadastro.cidade %></td>
        <td><%= cadastro.telefone %></td>
        <td><%= cadastro.celular %></td>
        <td><%= cadastro.usuario.id %></td>
        <td><%= link_to 'Show', cadastro %></td>
        <td><%= link_to 'Edit', edit_cadastro_path(cadastro) %></td>
        <td><%= link_to 'Destroy', cadastro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadastro', new_cadastro_path %>
