<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cadastro.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cadastro.cpf %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @cadastro.data_nascimento %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @cadastro.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cadastro.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @cadastro.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cadastro.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cadastro.cidade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cadastro.celular %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @cadastro.usuario %>
</p>

<%= link_to 'Edit', edit_cadastro_path(@cadastro) %> |
<%= link_to 'Back', cadastros_path %>
