
<%= form_for(requisicao) do |f| %>
  <% if requisicao.errors.any? %>
  <% #id="error_explanation"
  %>
    <div class="bg-danger alerta col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2><%= pluralize(requisicao.errors.count, "erros") %></h2>

      <ul>
      <% requisicao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :responsavel_nome ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= f.text_field :responsavel_nome ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :responsavel_cpf ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= f.text_field :responsavel_cpf ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :data_requisicao ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
       <%= f.date_select :data_requisicao ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :data_emissao ,class: "col-xs-12 col-sm-12 col-md-1,2 col-lg-12 text-uppercase"%>
      <%= f.date_select :data_emissao ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  

  <h2>Endereço</h2>
  <%= f.fields_for :enderecos do |ff| %>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :estado ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-upperc ase"%>
      
      <%= ff.select :estado, ['Acre','Alagoas','Amapá','Amazonas','Bahia','Ceara','Distrito Federal','Espírito Santo','Goiás','Maranhão','Mato Grosso','Mato Grosso do Sul','Minas Gerais','Pará','Paraíba','Paraná','Pernambuco','Piauí','Rio de Janeiro','Rio Grande do Norte','Rio Grande do Sul','Rondônia','Roraima','Santa Catarina','São Paulo','Sergipe','Tocantins'] ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6" %>
    </div>
  </div>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :cidade ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= ff.text_field :cidade ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :bairro ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= ff.text_field :bairro ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :cep ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= ff.text_field :cep ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :logradouro ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= ff.text_field :logradouro ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
    <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :numero ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= ff.text_field :numero ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= ff.label :complemento ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= ff.text_field :complemento ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>





  <div class="actions">
    <%= f.submit "Concluir" , class: "btn btn-success"%>
  </div>

<% end %>
  <% end %>