<%= form_for @cid, :html => { :class => "form-horizontal cid" } do |f| %>

  <% if @cid.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cid.errors.count, "error") %> prohibited this cid from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cid.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :codigo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :codigo, :class => 'form-control', :maxlength => 3, :size => 3  %><font color="red" size="5"> * </font>
    </div>
    <%=f.error_span(:codigo) %>
  </div>
  <div class="form-group">
    <%= f.label :nome_doenca, :class => 'control-label col-lg-2'%>
    <div class="col-lg-10">
      <%= f.text_field :nome_doenca, :class => 'form-control', :maxlength => 20, :size => 20 %><font color="red" size="5"> * </font>
    </div>
    <%=f.error_span(:nome_doenca) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cids_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
