<p id="notice"><%= notice %></p>

<h1>Cids</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome doenca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cids.each do |cid| %>
      <tr>
        <td><%= cid.codigo %></td>
        <td><%= cid.nome_doenca %></td>
        <td><%= link_to 'Show', cid %></td>
        <td><%= link_to 'Edit', edit_cid_path(cid) %></td>
        <td><%= link_to 'Destroy', cid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cid', new_cid_path %>
