<p id="notice"><%= notice %></p>

<p>
  <strong>Cod doenca:</strong>
  <%= @cid.cod_doenca %>
</p>

<p>
  <strong>Nome doenca:</strong>
  <%= @cid.nome_doenca %>
</p>

<%= link_to 'Edit', edit_cid_path(@cid) %> |
<%= link_to 'Back', cids_path %>
