<% if ( returnCar() == nil ) %>

<%= form_for @carteirinha, :html => { :class => "form-horizontal carteirinha" } do |f| %>

  <% if @carteirinha.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@carteirinha.errors.count, "error") %> prohibited this carteirinha from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @carteirinha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">    
    <div class="col-lg-10">
      <%= f.hidden_field :via, :class => 'form-control', :maxlength => 1, :size => 1 %>
    </div>
    <%=f.error_span(:via) %>
  </div>

  <div class="form-group">
    <%= f.label :categoria, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%
      @requisicao = Requisicao.find(returnReq())
      %>
      <%= @requisicao.categoria %>
       
      <%#= f.hidden_field :categoria, :class => 'form-control' %>
    </div>
    <%#=f.error_span(:categoria) %>
  </div>
  <div class="form-group">
    
    <div class="col-lg-10">
      <%= f.hidden_field :data_vencimento, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_vencimento) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Requerer carteirinha", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                carteirinhas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<% else %>

<h3>Carteirinha já requerida</h3>

<% end %>