<%= form_for(carteirinha) do |f| %>
  <% if carteirinha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carteirinha.errors.count, "error") %> prohibited this carteirinha from being saved:</h2>

      <ul>
      <% carteirinha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :via %>
    <%= f.number_field :via %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :data_criacao %>
    <%= f.datetime_select :data_criacao %>
  </div>

  <div class="field">
    <%= f.label :data_vencimento %>
    <%= f.date_select :data_vencimento %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
