<p id="notice"><%= notice %></p>

<h1>Carteirinhas</h1>

<table>
  <thead>
    <tr>
      <th>Via</th>
      <th>Status</th>
      <th>Data criacao</th>
      <th>Data vencimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carteirinhas.each do |carteirinha| %>
      <tr>
        <td><%= carteirinha.via %></td>
        <td><%= carteirinha.status %></td>
        <td><%= carteirinha.data_criacao %></td>
        <td><%= carteirinha.data_vencimento %></td>
        <td><%= link_to 'Show', carteirinha %></td>
        <td><%= link_to 'Edit', edit_carteirinha_path(carteirinha) %></td>
        <td><%= link_to 'Destroy', carteirinha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carteirinha', new_carteirinha_path %>
