<p id="notice"><%= notice %></p>

<p>
  <strong>Via:</strong>
  <%= @carteirinha.via %>
</p>

<p>
  <strong>Status:</strong>
  <%= @carteirinha.status %>
</p>

<p>
  <strong>Data criacao:</strong>
  <%= @carteirinha.data_criacao %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @carteirinha.data_vencimento %>
</p>

<%= link_to 'Edit', edit_carteirinha_path(@carteirinha) %> |
<%= link_to 'Back', carteirinhas_path %>
