<div class="col-sm-12">
    <%- model_class = Carteirinha -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
    
    
    
    <% pessoa = returnPesByCar(@carteirinha) %>
    <% #@reqObj = returnReqPes(pessoa.id) %>
    <% # pessoa = Pessoa.find(getPessoaByReq(@reqObj)) %>
    <% endereco = returnEnderecoByPes(pessoa.id) %>
    <% documento = returnDocumentoByPes(pessoa.id) %>
    <% requisicao = returnRequisicaoByPes(pessoa.id) %>
    <% cid = returnCiddByPes(pessoa) %>
    
    <% if ( pessoa != nil ) && ( endereco != nil ) && ( documento != nil ) && ( requisicao != nil ) %>
    
    <div class="row"> 
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h3>Pessoa</h3>
        </div>
    
        <dl class="dl-horizontal">
          <dt>Nome</dt>
          <dd><%= pessoa.nome %></dd>
          <dt>CPF</dt>
          <dd><%= pessoa.cpf %></dd>
          <dt>Sexo</dt>
          <dd><%= pessoa.sexo %></dd>
          <dt>RG</dt>
          <dd><%= pessoa.rg %></dd>
          <dt>Data de nascimento</dt>
          <dd><%= pessoa.data_nascimento %></dd>
          <dt>Telefone</dt>
          <dd><%= pessoa.telefone %></dd>
          <dt>Celular</dt>
          <dd><%= pessoa.celular %></dd>
          <dt>Email</dt>
          <dd><%= pessoa.email %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h3>Endereço</h3>
        </div>
        <dl class="dl-horizontal">
          <dt>CEP</dt>
          <dd><%= endereco.cep %></dd>
          <dt>Cidade</dt>
          <dd><%= endereco.cidade %></dd>
          <dt>Bairro</dt>
          <dd><%= endereco.bairro %></dd>
          <dt>Logradouro</dt>
          <dd><%= endereco.logradouro %></dd>
          <dt>Número</dt>
          <dd><%= endereco.numero %></dd>
          <dt>Complemento</dt>
          <dd><%= endereco.complemento %></dd>
        </dl>
  
    
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h3>Requisição</h3>
        </div>
    
    
        <dl class="dl-horizontal">
            <dt>Data requisição</dt>
            <dd><%= requisicao.data_requisicao %></dd>
            <dt>Nome do Responsável</dt>
            <dd><%= requisicao.responsavel_nome %></dd>
            <dt>CPF do Responsável</dt>
            <dd><%= requisicao.responsavel_cpf %></dd>
            <dt>Categoria</dt>
            <dd><%= requisicao.categoria %></dd>
          </dl>

      </div>
    </div>
    
    
    
    
    <div class="row">
      <div class="col-lg-12 fotos-d">
        <div class="col-lg-12">
          <h3>Documento</h3>
        </div>
    
        <div class="col-lg-12">
          <div class="col-lg-2">
            CPF
          </div>
          <div class="col-lg-6">
            <% if documento.cpf_file_name != nil %>
            <a href="<%= documento.cpf.url() %>" target="_blank">
              <img src="<%= documento.cpf %>" alt="" style="width: 150px; height: auto">
            </a>
            <% else %>
            <div class="alert alert-danger">Não foi enviada</div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-2">
            RG
          </div>
          <div class="col-lg-6">
            <% if documento.rg_file_name != nil %>
            <a href="<%= documento.rg.url() %>" target="_blank">
              <img src="<%= documento.rg %>" alt="" style="width: 150px; height: auto">
            </a>
            <% else %>
            <div class="alert alert-danger">Não foi enviada</div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-2">
            Foto
          </div>
          <div class="col-lg-6">
            <% if documento.foto_file_name != nil %>
            <a href="<%= documento.foto.url() %>" target="_blank">
              <img src="<%= documento.foto %>" alt="" style="width: 150px; height: auto">
            </a>
            <% else %>
            <div class="alert alert-danger">Não foi enviada</div>
            <% end %>
          </div>
        </div>
        <% if cid != nil %>
        <div class="col-lg-12">
          <div class="col-lg-2">
            Cid
          </div>
          <div class="col-lg-6">
            <% if documento.cid_file_name != nil %>
            <a href="<%= documento.cid.url() %>" target="_blank">
              <img src="<%= documento.cid %>" alt="" style="width: 150px; height: auto">
            </a>
            <% else %>
            <div class="alert alert-danger">Não foi enviada</div>
            <% end %>
          </div>
        </div>
        <% end %>
        <div class="col-lg-12">
          <div class="col-lg-2">
            Comprovante de Residencia
          </div>
          <div class="col-lg-6">
            <% if documento.comp_residencia_file_name != nil %>
            <a href="<%= documento.comp_residencia.url() %>" target="_blank">
              <img src="<%= documento.comp_residencia %>" alt="" style="width: 150px; height: auto">
              </a>
            <% else %>
            <div class="alert alert-danger">Não foi enviada</div>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
    
    <% if cid != nil %>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h3>CID</h3>
        </div>
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd><%= cid.codigo %></dd>
            <dt>Nome da doença</dt>
            <dd><%= cid.nome_doenca %></dd>
          </dl>
    
        
      </div>
    </div>
    <% end %>
    <br>
    <br>
    <% end %>
    
    <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:identificador) %>:</strong></dt>
      <dd><%= @carteirinha.identificador %></dd>
      <dt><strong><%= model_class.human_attribute_name(:via) %>:</strong></dt>
      <dd><%= @carteirinha.via %></dd>
      <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
      <dd><%= @carteirinha.status %></dd>
      <dt><strong><%= model_class.human_attribute_name(:categoria) %>:</strong></dt>
      <dd><%= @carteirinha.categoria %></dd>
      <dt><strong><%= model_class.human_attribute_name(:data_vencimento) %>:</strong></dt>
      <dd><%= @carteirinha.data_vencimento %></dd>
      <dt><strong><%= model_class.human_attribute_name(:requisicao_id) %>:</strong></dt>
      <dd><%= @carteirinha.requisicao_id %></dd>
    </dl>
    
    <!-- <%= link_to t('.back', :default => t("helpers.links.back")),
                  carteirinhas_path, :class => 'btn btn-default'  %> -->
    
    
    
    <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  carteirinha_path(@carteirinha),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %> -->
    <% if ( pessoa != nil ) && ( endereco != nil ) && ( documento != nil ) && ( requisicao != nil ) %>
    
    <% end %>
    <br>
    <div class="row">
      <div class="col-lg-12">
      <%= form_for @carteirinha, :remote => true do |c| %>
        <%= c.hidden_field :status, :value=>"Aprovada" %>
        <% if @carteirinha.categoria == "Idoso" || @carteirinha.categoria == "Deficiente" %>
          <%= c.hidden_field :data_vencimento, :value=>Date.current()+2.years %>
        <% elsif @carteirinha.categoria == "Deficente temporário" %>
          <%= c.hidden_field :data_vencimento, :value=>Date.current()+3.months %>
        <% end %>
    
        <%= c.submit "Aprovar", :class => 'btn btn-success' %>
      <% end %>
      </div> 
      <div class="col-lg-12 form-group">
        <%= form_for @carteirinha, :remote => true do |c| %>
          <%= c.hidden_field :status, :value=>"Rejeitada" %>
          <%= c.text_field :motivo, placeholder: "Motivo para rejeição", :class => 'form-control' %>
          <%= c.hidden_field :data_vencimento, :value=>"" %>
          <%= c.submit "Rejeitar", :class => 'btn btn-danger' %>
        <% end %>
    </div>
    <div class="col-lg-12">
    <% if @carteirinha.status == "Aprovada" %>
    <div class="edit_carteirinha">
      <%= link_to "Ver carteirinha", carteirinha_path(@carteirinha.id)+'.pdf', :class => 'btn btn-primary' %>
    </div>
    <% end %>
    </div>
    </div>
</div>