<%- model_class = Carteirinha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:via) %>:</strong></dt>
  <dd><%= @carteirinha.via %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @carteirinha.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:categoria) %>:</strong></dt>
  <dd><%= @carteirinha.categoria %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_vencimento) %>:</strong></dt>
  <dd><%= @carteirinha.data_vencimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:requisicao_id) %>:</strong></dt>
  <dd><%= @carteirinha.requisicao_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              carteirinhas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_carteirinha_path(@carteirinha), :class => 'btn btn-default' %>
<%= link_to t('.pdf', :default => t("Imprimir")),
              inf_carteirinha_path(@carteirinha),
              :class => 'btn btn-default' %>
