<%- model_class = Carteirinha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>


<% @pessoa = returnPesByCar(@carteirinha) %>
<% #@reqObj = returnReqPes(@pessoa.id) %>
<% # @pessoa = Pessoa.find(getPessoaByReq(@reqObj)) %>
<% @endereco = returnEnderecoByPes(@pessoa.id) %>
<% @documento = returnDocumentoByPes(@pessoa.id) %>
<% @requisicao = returnRequisicaoByPes(@pessoa.id) %>

<% if ( @pessoa != nil ) && ( @endereco != nil ) && ( @documento != nil ) && ( @requisicao != nil ) %>

<div class="row"> 
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h3>Pessoa</h3>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-2">
        Nome
      </div>
      <div class="col-lg-6">
        <%= @pessoa.nome %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Sexo
      </div>
      <div class="col-lg-6">
        <%= @pessoa.sexo %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        RG
      </div>
      <div class="col-lg-6">
        <%= @pessoa.rg %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Data de nascimento
      </div>
      <div class="col-lg-6">
        <%= @pessoa.data_nascimento %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Telefone
      </div>
      <div class="col-lg-6">
        <%= @pessoa.telefone %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Celular
      </div>
      <div class="col-lg-6">
        <%= @pessoa.celular %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h3>Endereço</h3>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-2">
        CEP
      </div>
      <div class="col-lg-6">
        <%= @endereco.cep %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Cidade
      </div>
      <div class="col-lg-6">
        <%= @endereco.cidade %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Bairro
      </div>
      <div class="col-lg-6">
        <%= @endereco.bairro %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Logradouro
      </div>
      <div class="col-lg-6">
        <%= @endereco.logradouro %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Número
      </div>
      <div class="col-lg-6">
        <%= @endereco.numero %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Complemento
      </div>
      <div class="col-lg-6">
        <%= @endereco.complemento %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h3>Requisição</h3>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-2">
        Data requisição
      </div>
      <div class="col-lg-6">
        <%= @requisicao.data_requisicao %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Nome do Responsável
      </div>
      <div class="col-lg-6">
        <%= @requisicao.responsavel_nome %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        CPF do Responsável
      </div>
      <div class="col-lg-6">
        <%= @requisicao.responsavel_cpf %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Categoria
      </div>
      <div class="col-lg-6">
        <%= @requisicao.categoria %>
      </div>
    </div>

  </div>
</div>




<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h3>Documento</h3>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-2">
        CPF
      </div>
      <div class="col-lg-6">
        <% if @documento.cpf_file_name != nil %>
        <a href="<%= @documento.cpf.url() %>" target="_blank">
          <img src="<%= @documento.cpf %>" alt="" style="width: 150px; heigth: auto">
        </a>
        <% else %>
        <div class="alert alert-danger">Não foi enviada</div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        RG
      </div>
      <div class="col-lg-6">
        <% if @documento.rg_file_name != nil %>
        <a href="<%= @documento.rg.url() %>" target="_blank">
          <img src="<%= @documento.rg %>" alt="" style="width: 150px; heigth: auto">
        </a>
        <% else %>
        <div class="alert alert-danger">Não foi enviada</div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Foto
      </div>
      <div class="col-lg-6">
        <% if @documento.foto_file_name != nil %>
        <a href="<%= @documento.foto.url() %>" target="_blank">
          <img src="<%= @documento.foto %>" alt="" style="width: 150px; heigth: auto">
        </a>
        <% else %>
        <div class="alert alert-danger">Não foi enviada</div>
        <% end %>
      </div>
    </div>
    <% @cid = returnCidByPes(@pessoa.id) %>
    <% if @cid != nil %>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Cid
      </div>
      <div class="col-lg-6">
        <% if @documento.cid_file_name != nil %>
        <a href="<%= @documento.cid.url() %>" target="_blank">
          <img src="<%= @documento.cid %>" alt="" style="width: 150px; heigth: auto">
        </a>
        <% else %>
        <div class="alert alert-danger">Não foi enviada</div>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Comprovante de Residencia
      </div>
      <div class="col-lg-6">
        <% if @documento.comp_residencia_file_name != nil %>
        <a href="<%= @documento.comp_residencia.url() %>" target="_blank">
          <img src="<%= @documento.comp_residencia %>" alt="" style="width: 150px; heigth: auto">
          </a>
        <% else %>
        <div class="alert alert-danger">Não foi enviada</div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

<% if @cid != nil %>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h3>CID</h3>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-2">
        Código
      </div>
      <div class="col-lg-6">
        <%= @cid.cod %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        Nome da doença
      </div>
      <div class="col-lg-6">
        <%= @cid.nome_doenca %>
      </div>
    </div>
    
  </div>
</div>
<% end %>
<% end %>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:via) %>:</strong></dt>
  <dd><%= @carteirinha.via %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @carteirinha.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:categoria) %>:</strong></dt>
  <dd><%= @carteirinha.categoria %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_vencimento) %>:</strong></dt>
  <dd><%= @carteirinha.data_vencimento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:requisicao_id) %>:</strong></dt>
  <dd><%= @carteirinha.requisicao_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              carteirinhas_path, :class => 'btn btn-default'  %>

<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              carteirinha_path(@carteirinha),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% if ( @pessoa != nil ) && ( @endereco != nil ) && ( @documento != nil ) && ( @requisicao != nil ) %>

<% end %>
<br>
<%= form_for @carteirinha, :remote => true do |c| %>
  <%= c.hidden_field :status, :value=>"Aprovada" %>
  <% if @carteirinha.categoria == "Idoso" || @carteirinha.categoria == "Deficiente" %>
    <%= c.hidden_field :data_vencimento, :value=>Date.current()+2.years %>
  <% elsif @carteirinha.categoria == "Deficente temporário" %>
    <%= c.hidden_field :data_vencimento, :value=>Date.current()+3.months %>
  <% end %>

  <%= c.submit "Aprovar", :class => 'btn btn-success' %>
<% end %>
<%= form_for @carteirinha, :remote => true do |c| %>
  <%= c.hidden_field :status, :value=>"Rejeitada" %>
  <%= c.hidden_field :data_vencimento, :value=>"" %>
  <%= c.submit "Rejeitar", :class => 'btn btn-danger' %>
<% end %>

<div class="edit_carteirinha">
  <div class="btn btn-primary">
    Gerar PDF
  </div>
</div>


