<%= form_for @requisicao, :html => { :class => "form-horizontal requisicao" } do |f| %>

  <% if @requisicao.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@requisicao.errors.count, "error") %> prohibited this requisicao from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @requisicao.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :categoria, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <% if ( returnCar() == nil ) %>
      <%= f.select :categoria, ["Idoso", "Deficiente", "Deficente temporário"] %>
    <% else %>
      <%= @requisicao.categoria %>
    <% end %>
    </div>
    <%=f.error_span(:categoria) %>
  <div class="form-group">    
    <div class="col-lg-10">
      <%= f.hidden_field :data_requisicao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_requisicao) %>
  </div>
  <div class="form-group">
    
    <div class="col-lg-10">
      <%= f.hidden_field :data_emissao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_emissao) %>
  </div>
  <div class="form-group">
    
    <div class="col-lg-10">
      <%= f.hidden_field :qtde_carteirinhas, :class => 'form-control', :maxlength => 4, :size => 4 %>
    </div>
    <%=f.error_span(:qtde_carteirinhas) %>
  </div>
  <div class="form-group">
    <%= f.label :"Nome do responsavel", :class => 'control-label col-lg-2' %> (Nome de quem vai retirar a carteirinha, caso aprovada.)
    <div class="col-lg-10">
      <%= f.text_field :responsavel_nome, :class => 'form-control', :maxlength => 40, :size => 40 %>
    </div>
    <%=f.error_span(:responsavel_nome) %>
  </div>
  <div class="form-group">
    <%= f.label :"CPF do responsavel", :class => 'control-label col-lg-2' %>(Nome de quem vai retirar a carteirinha, caso aprovada.)
    <div class="col-lg-10">
      <%= f.text_field :responsavel_cpf, :class => 'form-control', :maxlength => 11, :size => 11 %>
    </div>
    <%=f.error_span(:responsavel_cpf) %>
  </div>
  <div class="form-group">
    
    <div class="col-lg-10">
      <%= f.hidden_field :pessoa_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pessoa_id) %>
  </div>

  <div class="col-lg-10">
      <%= f.hidden_field :funcionario, :class => 'form-control' %>
    </div>
    <%=f.error_span(:funcionario) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requisicoes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
