<div class="col-sm-12">
    <%= form_for @requisicao do |f| %>

    <% if @requisicao.errors.any? %>
    <div class="card text-white bg-danger">
      <div id="error_expl" class="">
          <div class="card-body">
              <h3 class="card-title"><%= pluralize(@requisicao.errors.count, "erro") %> impedem o cadastro:</h3>
            <ul>
            <% @requisicao.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
    </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :categoria %>
      <div>
        <% if ( returnCar() == nil ) %>
          <%= f.select :categoria, ["Idoso", "Deficiente", "Deficente temporário"], {}, :class => 'form-control' %>
        <% else %>
          <%= @requisicao.categoria %>
        <% end %>
      </div>
      <%=f.error_span(:categoria) %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :data_requisicao, :class => 'form-control' %>
      <%=f.error_span(:data_requisicao) %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :data_emissao, :class => 'form-control' %>
      <%=f.error_span(:data_emissao) %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :qtde_carteirinhas, :class => 'form-control', :maxlength => 4, :size => 4 %>
      <%=f.error_span(:qtde_carteirinhas) %>
    </div>
    <div class="form-group">
      <%= f.label :"Nome do responsavel" %>
      <%= f.text_field :responsavel_nome, :class => 'form-control', :maxlength => 40, :size => 40 %>
      <%=f.error_span(:responsavel_nome) %>
    </div>
    <div class="form-group">
      <%= f.label :"CPF do responsavel" %>
      <%= f.text_field :responsavel_cpf, :class => 'form-control', :maxlength => 11, :size => 11 %>
      <%=f.error_span(:responsavel_cpf) %>
    </div>  
    <div class="form-group">
      <%= f.hidden_field :pessoa_id, :class => 'form-control' %>
      <%=f.error_span(:pessoa_id) %>
    </div>  
  
    <div class="form-group">
      <%= f.hidden_field :funcionario, :class => 'form-control' %>
     <%=f.error_span(:funcionario) %>
    </div>  
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              requisicoes_path, :class => 'btn btn-secondary' %>
  
  <% end %>
  
</div>