<p id="notice"><%= notice %></p>

<p>
  <strong>Data requisicao:</strong>
  <%= @requisicao.data_requisicao %>
</p>

<p>
  <strong>Data emissao:</strong>
  <%= @requisicao.data_emissao %>
</p>

<p>
  <strong>Qtde carteirinhas:</strong>
  <%= @requisicao.qtde_carteirinhas %>
</p>

<p>
  <strong>Responsavel nome:</strong>
  <%= @requisicao.responsavel_nome %>
</p>

<p>
  <strong>Responsavel cpf:</strong>
  <%= @requisicao.responsavel_cpf %>
</p>

<%= link_to 'Edit', edit_requisicao_path(@requisicao) %> |
<%= link_to 'Back', requisicoes_path %>
