<%= form_for @pessoa, :html => { :class => "form-horizontal pessoa" } do |f| %>


  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :nome, :class => 'form-control', :maxlength => 80, :size => 80 %> <font color="red" size="5"> * </font>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:nome) %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :sexo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.select :sexo, ['Masculino', 'Feminino'] %> <font color="red" size="5"> * </font>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:sexo) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :rg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :rg, :class => 'form-control', :maxlength => 10, :size => 10 %> <font color="red" size="5"> * </font>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:rg) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :data_nascimento, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.date_select :data_nascimento, :start_year => Date.current.year - 120, :end_year => Date.current.year %>  <font color="red" size="5"> * </font>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:data_nascimento) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :email, :class => 'form-control' %> <font color="red" size="5"> * </font>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:email) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :telefone, :class => 'form-control', :maxlength => 10 %>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:telefone) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :celular, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :celular, :class => 'form-control', :maxlength => 11, :size => 11 %> <font color="red" size="5"> * </font>
    </div>
    <div class="col-lg-4">
      <%=f.error_span(:celular) %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pessoas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
