<%= form_for(pessoa) do |f| %>
  <% if pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome, "Nome completo" %>
    <%= f.text_field :nome, :maxlength => 80, :size => 80 %>
  </div>

  <div class="field">
    <%= f.label :rg, "RG" %>
    <%= f.text_field :rg, :maxlength => 14, :size => 14 %> 
  </div>

  <div class="field">
    <%= f.label :cpf, "CPF" %>
    <%= f.text_field :cpf, :maxlength => 11, :size => 11%> somente números
  </div>

  <div class="field">
    <%= f.label :data_nascimento %>
    <%= f.date_select :data_nascimento, :start_year => Date.current.year - 120, :end_year => Date.current.year %>
  </div>

  <div class="field">
    <%= f.label :telefone, "Telefone residencial" %>
    <%= f.text_field :telefone, :maxlength => 10, :size => 10%> somente números
  </div>

  <div class="field">
    <%= f.label :celular, "Telefone celular" %>
    <%= f.text_field :celular, :maxlength => 11, :size => 11%> somente números
  </div>

  <div class="field"> 
    <!--<%= f.label :usuario_id %> -->
    <%= f.hidden_field :usuario_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
