<%= form_for(pessoa) do |f| %>
  <% if pessoa.errors.any? %>
  <% #id="error_explanation"
  %>
    <div class="bg-danger alerta col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2><%= pluralize(pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :cpf ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= f.text_field :cpf ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :nome ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= f.text_field :nome ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :email ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
       <%= f.text_field :email ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :rg ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= f.text_field :rg ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6"%>
    </div>
  </div>
  <div class="row">
    <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.label :sexo ,class: "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase"%>
      <%= f.select :sexo, ['Masculino', 'Feminino'] ,class: "col-xs-12 col-sm-12 col-md-6 col-lg-6" %>
     
    </div>
  </div>
  
  


  <div class="actions">
    <%= f.submit "Concluir" , class: "btn btn-success"%>
  </div>
<% end %>
