<div class="col-sm-12">
    <%= form_for @pessoa do |f| %>
    <p> * </span> Campos Obrigatórios</p>
  
    <% if !@pessoa.new_record? %>
    <div class="form-group">
      <%= f.label :cpf %>
        <%= @pessoa.cpf %>
    </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :nome %>
      <small style="color: red; font-size: 15px">*</small>
      <div>
        <%= f.text_field :nome, :class => 'form-control', :maxlength => 80, :size => 80 %>
      </div>
        <%=f.error_span(:nome) %>
    </div>
    <div class="form-group">
      <%= f.label :sexo %>
      <small style="color: red; font-size: 15px">*</small>
        <div>
            <%= f.select :sexo, ['Masculino', 'Feminino'], {},  { :class => 'form-control' } %>
        </div>
        <%=f.error_span(:sexo) %>
    </div>
  
    <div class="form-group">
      <%= f.label :rg %>
      <small style="color: red; font-size: 15px">*</small>
        <%= f.text_field :rg, :class => 'form-control', :maxlength => 14, :size => 14 %>
        <%=f.error_span(:rg) %>
    </div>
  
     <div class="form-group">
      <%= f.label :Orgão_emissor %>
      <small style="color: red; font-size: 15px">*</small>
        <div>
          <%= f.text_field :rg_orgao, :class => 'form-control', :maxlength => 10, :size => 10 %>
        </div>
        <%=f.error_span(:rg_orgao) %>
    </div>
  
    <div class="form-group">
      <%= f.label :Estado_de_emissão %>
      <small style="color: red; font-size: 15px">*</small>
        <div>
          <%= f.select :rg_estado, ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI'] + 
          ['PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO'], {},  { :class => 'form-control' } %>
        </div>
        <%=f.error_span(:rg_estado) %>
    </div>
  
    <div class="form-group">
      <%= f.label :data_nascimento %>
      <small style="color: red; font-size: 15px">*</small>
        <div>
          <%= f.date_select :data_nascimento, {:start_year => (Date.current.year - 120), :end_year => Date.current.year}, {:class => "form-control"}  %> 
        </div>
        <%=f.error_span(:data_nascimento) %>
    </div>
  
    <div class="form-group">
      <%= f.label :email %>
      <small style="color: red; font-size: 15px">*</small>
      <div>
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
        <%=f.error_span(:email) %>
    </div>
  
    <div class="form-group">
      <%= f.label :telefone %>
      <div>
        <%= f.text_field :telefone, :class => 'form-control', :maxlength => 15, :size => 15, :onkeyup => "mascara( this, mtel );" %>
      </div>
        <%=f.error_span(:telefone) %>
    </div>
  
    <div class="form-group">
      <script type="text/javascript" src="mtel.js"></script>
      <%= f.label :celular %>
      <small style="color: red; font-size: 15px">*</small>
      <div>
        <%= f.text_field :celular, :class => 'form-control', :maxlength => 15, :size => 15, :onkeyup => "mascara( this, mtel );" %>
      </div>
        <%=f.error_span(:celular) %>
    </div>
  
  
    <%= f.submit nil, :class => 'btn btn-primary' %>
  
  <% end %>
  
</div>