<%= form_for(datalog) do |f| %>
  <% if datalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datalog.errors.count, "error") %> prohibited this datalog from being saved:</h2>

      <ul>
      <% datalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor_anterior %>
    <%= f.text_field :valor_anterior %>
  </div>

  <div class="field">
    <%= f.label :valor_atual %>
    <%= f.text_field :valor_atual %>
  </div>

  <div class="field">
    <%= f.label :campo_alterado %>
    <%= f.text_field :campo_alterado %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
