<p id="notice"><%= notice %></p>

<p>
  <strong>Valor anterior:</strong>
  <%= @datalog.valor_anterior %>
</p>

<p>
  <strong>Valor atual:</strong>
  <%= @datalog.valor_atual %>
</p>

<p>
  <strong>Campo alterado:</strong>
  <%= @datalog.campo_alterado %>
</p>

<%= link_to 'Edit', edit_datalog_path(@datalog) %> |
<%= link_to 'Back', datalogs_path %>
