<%= form_for @inf_carteirinha, :html => { :class => "form-horizontal inf_carteirinha" } do |f| %>

  <% if @inf_carteirinha.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@inf_carteirinha.errors.count, "error") %> prohibited this inf_carteirinha from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @inf_carteirinha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :num_registro, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :num_registro, :class => 'form-control' %>
    </div>
    <%=f.error_span(:num_registro) %>
  </div>
  <div class="form-group">
    <%= f.label :validade, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :validade, :class => 'form-control' %>
    </div>
    <%=f.error_span(:validade) %>
  </div>
  <div class="form-group">
    <%= f.label :diretor, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :diretor, :class => 'form-control' %>
    </div>
    <%=f.error_span(:diretor) %>
  </div>
  <div class="form-group">
    <%= f.label :nome_beneficiario, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome_beneficiario, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome_beneficiario) %>
  </div>
  <div class="form-group">
    <%= f.label :rg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rg, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rg) %>
  </div>
  <div class="form-group">
    <%= f.label :regras, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :regras, :class => 'form-control' %>
    </div>
    <%=f.error_span(:regras) %>
  </div>
  <div class="form-group">
    <%= f.label :tipo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tipo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tipo) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                inf_carteirinhas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
