<%- model_class = InfCarteirinha -%>
<div class="page-header">
  <h1>Informações das carteirinhas</h1>
</div>
<p>Caso queira modificar os dados padrões da carteirinha somente será necessário criar um novo <br>
<strong>OBS:</strong> Por definição será selecionado o primeiro criado
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:num_registro) %></th>
      <th><%= model_class.human_attribute_name(:validade) %></th>
      <th><%= model_class.human_attribute_name(:diretor) %></th>
      <th><%= model_class.human_attribute_name(:nome_beneficiario) %></th>
      <th><%= model_class.human_attribute_name(:rg) %></th>
      <th><%= model_class.human_attribute_name(:regras) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @inf_carteirinhas.each do |inf_carteirinha| %>
      <tr>
        <td><%= link_to inf_carteirinha.id, inf_carteirinha_path(inf_carteirinha) %></td>
        <td><%= inf_carteirinha.num_registro %></td>
        <td><%= inf_carteirinha.validade %></td>
        <td><%= inf_carteirinha.diretor %></td>
        <td><%= inf_carteirinha.nome_beneficiario %></td>
        <td><%= inf_carteirinha.rg %></td>
        <td><%= inf_carteirinha.regras %></td>
        <td><%= inf_carteirinha.tipo %></td>
        <td><%=l inf_carteirinha.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      inf_carteirinha_path(inf_carteirinha), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_inf_carteirinha_path(inf_carteirinha), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      inf_carteirinha_path(inf_carteirinha),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_inf_carteirinha_path,
            :class => 'btn btn-primary' %>
