
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="login">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h2><%=I18n.t'log_sess_new'%> </h2>
                <%= devise_error_messages! %>
                  <br>
                  <br>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field" id="userName" class="form-control input-sm chat-input">
                    <%= f.label :cpf, "CPF" %>
                    <%= f.text_field :cpf, autofocus: true %>
                  </div>
                  <br />
                  <div class="field" id="userPassword" class="form-control input-sm chat-input">
                    <%= f.label :password, "Senha" %>
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me, "Lembrar senha" %>
                    </div>
                  <% end -%>

                  <div class="wrapper">
                  <span class="group-btn"> 

                  <div class="actions" >
                    <%= f.submit "Entrar", class: "btn btn-submit" %>
                  </div>
                <% end %>
                </span>
            </div>
          </div>
          <h4>
          <%= render "usuarios/shared/links" %>
          </h4>
        </div>
      </div>
    </div>
               
    

