<%= form_for(endereco) do |f| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cep, "CEP" %>
    <%= f.text_field :cep,:maxlength => 8, :size => 8 %>
  </div>

  <div class="field">
    <%= f.label :cidade, "Cidade atual" %>
    <%= f.text_field :cidade, :maxlength => 50, :size => 50 %>
  </div>

  <div class="field">
    <%= f.label :bairro, "Bairro" %>
    <%= f.text_field :bairro, :maxlength => 30, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :logradouro, "Longradouro" %> (Ex. Rua, Avenida...)
    <%= f.text_field :logradouro, :maxlength => 130, :size => 130 %>
  </div>

  <div class="field">
    <%= f.label :numero, "Numero" %>
    <%= f.number_field :numero, :maxlength => 4, :size =>4  %>
  </div>

  <div class="field">
    <%= f.label :complemento, "Complemento" %>
    <%= f.text_field :complemento %>
  </div>

  <div class="field">
    <!--<%= f.label :pessoa_id %>-->
    <%= f.hidden_field :pessoa_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
