<p id="notice"><%= notice %></p>

<h1>Enderecos</h1>

<table>
  <thead>
    <tr>
      <th>Cep</th>
      <th>Cidade</th>
      <th>Bairro</th>
      <th>Logradouro</th>
      <th>Numero</th>
      <th>Complemento</th>
      <th>Pessoa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enderecos.each do |endereco| %>
      <tr>
        <td><%= endereco.cep %></td>
        <td><%= endereco.cidade %></td>
        <td><%= endereco.bairro %></td>
        <td><%= endereco.logradouro %></td>
        <td><%= endereco.numero %></td>
        <td><%= endereco.complemento %></td>
        <td><%= endereco.pessoa.id %></td>
        <td><%= link_to 'Mostrar', endereco %></td>
        <td><%= link_to 'Editar', edit_endereco_path(endereco) %></td>
        <td><%= link_to 'Remover', endereco, method: :delete, data: { confirm: 'Está certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Endereço', new_endereco_path %>
