<%- model_class = Documento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:rg) %></th>
      <th><%= model_class.human_attribute_name(:foto) %></th>
      <th><%= model_class.human_attribute_name(:cid) %></th>
      <th><%= model_class.human_attribute_name(:comp_residencia) %></th>


      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @documentos.each do |documento| %>
      <tr>
        <td><%= link_to documento.id, documento_path(documento) %></td>
        <td><a href="<%= documento.cpf %>" target="_blank"><img src="<%= documento.cpf %>" alt="" style="width: 150px; heigth: auto"></a></td>
        <td><a href="<%= documento.rg %>" target="_blank"><img src="<%= documento.rg %>" alt="" style="width: 150px; heigth: auto"></a> </td>
        <td><a href="<%= documento.foto %>" target="_blank"><img src="<%= documento.foto %>" alt="" style="width: 150px; heigth: auto"></a></td>
        <td><a href="<%= documento.cpf %>" target="_blank"><img src="<%= documento.cid %>" alt="" style="width: 150px; heigth: auto"></a></td>
        <td><a href="<%= documento.cpf %>" target="_blank"><img src="<%= documento.comp_residencia %>" alt="" style="width: 150px; heigth: auto"></a></td>


        <td><%=l documento.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      documento_path(documento), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_documento_path(documento), :class => 'btn btn-default btn-xs' %>
         <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      documento_path(documento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_documento_path,
            :class => 'btn btn-primary' %>
