<p id="notice"><%= notice %></p>

<p>
  <strong>Rg:</strong>
  <%= @documento.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @documento.cpf %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @documento.cid %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @documento.foto %>
</p>

<p>
  <strong>Comp residencia:</strong>
  <%= @documento.comp_residencia %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
