<!DOCTYPE html>
<html>
  <head>
    <title>DiretranCM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="main-container" class="container-fluid">
      
      <div id="titulo" class="row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: #B0E0E6"> <!-- color Thistle -->
      	
      	<div id="lateral" class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="background-color: #B0E0E6">
	      	
	      	<h2>
	      		<%= image_tag 'logo_prefeitura.png' %>
	      		Diretran CM - Departamento de Trânsito de Campo Mourão
	      	</h2>
	      	
      	</div>
      	
      	<div id="lateral" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background-color: #B0E0E6">
	      	<div id="pessoa_logada" align="right" align="top">
	      		<h5>
	      		adm
	      		<%= image_tag 'no_photo.jpg' %>
		      	</h5>
		     </div>
	      	
      	</div>
		
      	
      </div>

      <div class="row">
        
        <div id="lateral" class="col-xs-6 col-sm-6 col-md-2 col-lg-3" style="background-color: #D8BFD8"><!--color PowderBlue -->
          <h4> Lateral </h4>
        </div>
        
        <div id="principal" class="col-xs-6 col-sm-6 col-md-10 col-lg-9">
          <%= yield %>
        </div>
      
      </div>

   </div>
  
    
  
  </body>
</html>
