<!DOCTYPE html>
<html>
<head>
    <title>DiretranCM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :all %>
    
  </head>

  <body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 d-none d-lg-block">
            <%= image_tag 'brasao_diretran.png' %>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 text-center">
            <h1><%=  link_to "Prefeitura de Campo Mourão - Diretoria de Trânsito - Diretran", root_path %></h1>
        </div>
        <div class="col-lg-2 col-md-2 d-none d-lg-block">
            <%= image_tag 'prefeitura_logo.png' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-12 text-center">
            <strong> Rua Harrison José Borges - 1360 - Anexo à casa do empreeendedor</strong>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <% if usuario_signed_in? %>
            Entrou como: <strong><%= pessoa = getPessoa()
                                    if (pessoa != nil)
                                        pessoa.nome
                                      else
                                        current_usuario.cpf
                                      end
                                     %></strong>.
            <%= link_to 'Editar perfil', edit_usuario_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sair", destroy_usuario_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Cadastrar", new_usuario_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Entrar", new_usuario_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>

<% if (current_usuario.try(:admin?)) || current_usuario.try(:funcionario?) %>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item<% if current_page?(dash_dashUsuario_url) %> active<% end %>">
            <%= link_to "Página inicial", root_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(pessoas_path) %> active<% end %>">
              <%= link_to "Pessoas", pessoas_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(enderecos_path) %> active<% end %>">
              <%= link_to "Endereços", enderecos_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(documentos_path) %> active<% end %>">
              <%= link_to "Documentos", documentos_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(cids_path) %> active<% end %>">
              <%= link_to "Cids", cids_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(requisicoes_path) %> active<% end %>">
              <%= link_to "Requisição", requisicoes_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(carteirinhas_path) %> active<% end %>">
              <%= link_to "Carteirinhas", carteirinhas_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(info_carteirinhas_path) %> active<% end %>">
              <%= link_to "Informações", info_carteirinhas_path, class: 'nav-item nav-link' %>
          </li>
        </ul>
      </div>
    </nav>




  <% elsif usuario_signed_in? %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item<% if current_page?(dash_dashUsuario_url) %> active<% end %>">
            <%= link_to "Página inicial", root_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(edit_usuario_registration_path) %> active<% end %>">
              <%= link_to "Perfil", edit_usuario_registration_path, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(returnPesEnd) %> active<% end %>">
              <%= link_to "Pessoa", returnPesEnd, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(returnEndEnd) %> active<% end %>">
              <%= link_to "Endereço", returnEndEnd, class: 'nav-item nav-link' %>
          </li>
          <% if returnPes() != nil %>
          <li class="nav-item<% if current_page?(returnDocEnd) %> active<% end %>">
              <%= link_to "Documento", returnDocEnd, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(returnReqEnd) %> active<% end %>">
              <%= link_to "Requisição", returnReqEnd, class: 'nav-item nav-link' %>
          </li>
          <li class="nav-item<% if current_page?(returnCarEnd) %> active<% end %>">
              <%= link_to "Carteirinha", returnCarEnd, class: 'nav-item nav-link' %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <% end %>


    <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <% flash.each do |name, msg| %>
              <a href="#" onclick="closeDiv('showMsgError')" class="col-sm-1">
                <div class="row btn-info" id="showMsgError">
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-center">
                  <% if msg.class == Array %>
                    <% msg.each do |message| %>
                      <%= content_tag :div, message, :id => "flash_#{name}" %>
                    <% end %>
                  <% else %>
              
                    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "col-xs-11 col-sm-11 col-md-11 col-lg-11" %>
              
                  <% end %>
              
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    x
                  </div>
                </div>
              </a>
            
              <br>
            
              <% end %>
          </div>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
